*{
    padding: 0px;
    margin: 0px;
    font-family: Poppins;
  
}
body,html{
    height:100%;
   
}
.bg {
    height: 100%;   
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;  
    background-image: url("background.png");    
}
.welcome-banner{    
    padding: 10%; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
    color: white;   
}
.title-banner{
    font-size:9vh;
    font-family: Poppins;
    font-weight: 700;   
}
.description-banner{
    font-size:2.5vh;
    font-family:Poppins;
    font-weight: 300;
}
.col{    
    width: 80%;
    height: 100%;
}
.outlined-button{
    background-color:Transparent;
    border: 0.4vh solid white;
    color:white;
    padding: 3vh 10vh;
    border-radius: 3vh;
    
    
    font-size:2.5vh;
    
}
.outlined-button:hover{
    background-color:white;
    color: black;
}

.padding-section{
    padding-top: 8%;
}
.layout-page{
    height: 100%;
    
}
.blackgray{
    color:#0e0e0e;
}
.logo-card{
    font-size:2.5vh;
    background-color: teal;
    width: 20%;
    padding-top: 5vh;
    padding-bottom: 5vh;
    margin-left: 2vh;
    margin-bottom: 2vh;
}


/* @media screen and (max-width:800px){
    .col{
        width: 100%;        
    }
    .title-banner{
        font-size:10vw;
    }
    .description-banner{
        font-size: 4vw;
    }
} */