*{
    padding: 0px;
    margin: 0px;
    font-family: Poppins;
  
}
body,html{
    height:100%;
   
}
.bg {

    height: 100%;   
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;  
    background-image: url("background.png");    
}
.welcome-banner{    
    padding: 10%; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
    color: white; 
    max-width: 1024px;

}
.title-banner{
    font-size:3.5rem;
    font-family: Poppins;
    font-weight: 700;   
}
.description-banner{
    font-size:1.25rem;
    font-family:Poppins;
    font-weight: 300;
}
.col{    
    width: 90%;
    height: 100%;
}
.outlined-button{
    background-color:Transparent;
    border: 0.4vh solid white;
    color:white;
    padding: 3vh 10vh;
    border-radius: 3vh;
    
    
    font-size:2.5vh;
    
}
.outlined-button:hover{
    background-color:white;
    color: black;
}
.container{  
         
    margin: 0 auto;
    padding:15px;
    max-width: 960px;

  
}

.padding-section{
    padding-top: 8%;
    padding-bottom: 8%;
}
.layout-page{
    height: 100%;
    
}
.blackgray{
    color:#0e0e0e;
}
.logo-card{
    font-size:2.5vh;
    background-color: teal;
    width: 20%;
    padding-top: 5vh;
    padding-bottom: 5vh;
    margin-left: 2vh;
    margin-bottom: 2vh;
}

.column {
    float: left;
    width: 30%;
    padding: 0 10px;
}

.row {margin: 0;
top: 50%;
    left: 50%; }

.row:after {
    margin:0;
    content: "";
    display: table;
    clear: both;
  }
  .card{

      background-color: blue;
      height:300px;
  }



/* @media screen and (max-width:800px){
    .col{
        width: 100%;        
    }
    .title-banner{
        font-size:10vw;
    }
    .description-banner{
        font-size: 4vw;
    }
} */

@media screen and (max-width:900px) {
    .column {
      width: 90%;
      display: block;
      margin-bottom: 20px;
    }
  }
.yellow{
    background-color: #fec64d;
}
.blue{
    background-color: #01928b;
}
.green{
    background-color: #f68a4c;
}
.text-container{
    padding:30px;
    
}
.title-card{
    font-weight: 700;
    font-size:200%;
}